<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GGStream</title>

    <!-- Inter Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Bootstrap - Argon -->
    <link rel="stylesheet" href="~/lib/bootstrap-argon/css/argon-design-system.min.css" />

    <!-- FontAwesome-->
    <script src="https://kit.fontawesome.com/6d57857f83.js" crossorigin="anonymous"></script>

    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="h-100 d-flex flex-column bg-ggstream-base" style="@{ if (ViewData["Color:Base"] != null) { <text>background-color: @ViewData["Color:Base"];</text> } }">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark text-light bg-ggstream-nav" style="@{ if (ViewData["Color:Nav"] != null) { <text>background-color: @ViewData["Color:Nav"];</text> } }">
            <div class="container">
                <a href="#" class="navbar-title text-white cursor-default">
                    @{ if (ViewData["Icon:Nav"] != null) { <i class="mr-1 @ViewData["Icon:Nav"]"></i> } }
                    @(ViewData["Title:Nav"] ?? "GGStream")
                    @{ if (ViewData["Subtitle:Nav"] != null) {
                        <span class="d-none d-md-inline ml-2">/</span>
                        <span class="d-none d-md-inline text-muted ml-2" style="@{ if (ViewData["Color:Accent"] != null) { <text>color: @ViewData["Color:Accent"] !important;</text> } }">@ViewData["Subtitle:Nav"]</span> } }
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-default">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                GGStream
                            </div>
                            <div class="col-6 collapse-close">
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <ul class="navbar-nav ml-lg-auto">
                        @RenderSection("Navbar", required: false)
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container d-flex flex-1-auto bg-ggstream-base" style="@{ if (ViewData["Color:Base"] != null) { <text>background-color: @ViewData["Color:Base"];</text> } }">
        <main role="main" class="d-flex flex-1-auto flex-column mh-95 
              justify-content-@{ if (ViewData["Page:Align"] != null) { <text>@ViewData["Page:Align"]</text> } else { <text>start</text> } } 
              align-self-@{ if (ViewData["Page:Align"] != null) { <text>@ViewData["Page:Align"]</text> } else { <text>start</text> } }">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-light bg-ggstream-nav" style="@{ if (ViewData["Color:Nav"] != null) { <text>background-color: @ViewData["Color:Nav"];</text> } }">
        <div class="container text-center">
            Powered by <a asp-action="Index" asp-controller="Home" style="@{ if (ViewData["Color:Link"] != null) { <text>color: @ViewData["Color:Link"] !important;</text> } }">GGStream</a> | 
            <a style="@{ if (ViewData["Color:Link"] != null) { <text>color: @ViewData["Color:Link"] !important;</text> } }" href="mailto:vlad@ggstream.app?subject=%5BGGStream%5D%20Help%20Needed%20-%20%3CFILL%20IN%20DESCRIPTION%3E&body=%3CFILL%20IN%20HELP%20REPORT%3E%0A%0A---%0APage%20URL%3A%20@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">Help</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src=@("https://unpkg.com/@popperjs/core@2")></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-argon/js/plugins/datetimepicker.js"></script>
    <script src="~/lib/bootstrap-argon/js/argon-design-system.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
