@model IEnumerable<GGStream.Models.Collection>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Private)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CallLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Private)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CallLink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-url="@item.URL">Edit</a> |
                <a asp-action="Details" asp-route-url="@item.URL">Details</a> |
                <a asp-action="Delete" asp-route-url="@item.URL">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
