@model HomeViewModel
@inject IApplicationDateTime SystemTime

@{
    ViewData["Title"] = "Welcome";
}

<div class="row mt-5">
    <div class="col-12">
        <h4 class="text-secondary">Current and Upcoming Streams</h4>
    </div>
</div>
<div class="row">
    @foreach (var stream in Model.CurrentPublicStreams)
    {
        <div class="col-12 col-md-6 col-xl-4 mb-4 mb-xl-0">
            <div class="card border-0">
                <div class="card-header bg-default d-flex align-items-center" style="@{ if (stream.Collection.BaseColor != null) { <text>background-color: @stream.Collection.BaseColor !important; color: @stream.Collection.NearWhiteColor;</text> } }">
                    <h5 class="text-secondary mb-0 flex-1-auto">
                        @{ if (stream.Collection.Icon != null)
                            { <i class="@Html.DisplayFor(model => stream.Collection.Icon) mr-1"></i> } }
                        @Html.DisplayFor(model => stream.Collection.Name)
                    </h5>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-secondary text-default" asp-action="Edit" asp-controller="Streams" asp-route-url="@stream.CollectionURL" asp-route-id="@stream.ID" style="@{ if (stream.Collection.BaseColor != null) { <text>color: @stream.Collection.BaseColor !important;</text> } }">
                            <i class="fad fa-pencil"></i>
                        </a>
                    }
                </div>
                <div class="card-body">
                    <div class="container text-center pt-1 pb-1">
                        <div class="row mb-2">
                            <div class="col-12">
                                <h4>
                                    @if (User.Identity.IsAuthenticated && (stream.Private || stream.Collection.Private))
                                    {<i class="fad fa-lock mr-2"></i>}
                                    @Html.DisplayFor(model => stream.Name)
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h6>Stream Time</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                @{
                                    if (stream.StartDate != null)
                                    {

                                        <span class="mr-3"><i class="fad fa-calendar-day mr-1"></i> @String.Format("{0:ddd dd/MM/yyyy}", stream.StartDate)</span>
                                        <span><i class="fad fa-clock mr-1"></i> @String.Format("{0:hh:mm tt}", stream.StartDate)</span>
                                    }
                                    else
                                    {
                                        <span><i class="fad fa-calendar-times mr-1"></i> No Start Date</span>
                                    }
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <i class="fad fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-12">
                                @{
                                    if (stream.EndDate != null)
                                    {

                                        <span class="mr-3"><i class="fad fa-calendar-day mr-1"></i> @String.Format("{0:ddd dd/MM/yyyy}", stream.EndDate)</span>
                                        <span><i class="fad fa-clock mr-1"></i> @String.Format("{0:hh:mm tt}", stream.EndDate)</span>
                                    }
                                    else
                                    {
                                        <span><i class="fad fa-calendar-times mr-1"></i> No End Date</span>
                                    }
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                @{
                                    if ((stream.StartDate == null || stream.StartDate < SystemTime.Now()) && (stream.EndDate == null || stream.EndDate > SystemTime.Now()))
                                    {
                                        <a href="@Url.ActionLink("ViewStream", "Player", new { url = stream.ID })" class="btn btn-default" style="@{ if (stream.Collection.BaseColor != null) { <text>background-color: @stream.Collection.BaseColor !important; color: @stream.Collection.NearWhiteColor; border: 0;</text> } }">
                                            <i class="fad fa-video mr-2"></i> Watch Stream
                                        </a>
                                    }
                                    else
                                    {
                                        <button disabled class="btn btn-default" style="@{ if (stream.Collection.BaseColor != null) { <text>background-color: @stream.Collection.BaseColor !important; color: @stream.Collection.NearWhiteColor; border: 0;</text> } }">
                                            <i class="fad fa-video-slash mr-2"></i> Stream isn't Active
                                        </button>
                                    }

                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row mt-5">
    <div class="col-12">
        <h4 class="text-secondary">Public Collections</h4>
    </div>
</div>

<div class="row">
    @foreach (var collection in Model.PublicCollections)
    {
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
            <a href="@Url.ActionLink("ViewStream", "Player", new { url = collection.URL })" class="card bg-default border-0" style="@{ if (collection.BaseColor != null) { <text>background-color: @collection.BaseColor !important;</text> } }">
                <div class="card-body d-flex flex-0-auto h-6rem justify-content-center align-items-center">
                    <h5 class="card-title mb-0 text-secondary" style="@{ if (collection.BaseColor != null) { <text>color: @collection.NearWhiteColor !important;</text> } }">
                        @{ if (collection.Icon != null)
                            { <i class="@Html.DisplayFor(model => collection.Icon) mr-1"></i> } }
                        @Html.DisplayFor(model => collection.Name)
                    </h5>
                </div>
            </a>
        </div>
    }
</div>
