@model GGStream.Models.Stream

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stream</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Collection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CollectionURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreamKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreamKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StreamKey">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
